@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

body {
  font-family: "Mulish", sans-serif;
  font-weight: 350;
}

$primary: #ff8707;
$danger: #ff4136;
$success: #2ecc40;
$warning: #ff851b;
$light: #f4f4f4;
$dark: #111;
$secondary: rgb(148, 103, 103);
$theme-colors: (
  "primary": #ff8707,
  "secondary": #f9f9f9,
  "success": #1ce1ac,
  "info": #ff7d50,
  "warning": #ffbe0b,
  "danger": #ff007f,
  "light": #ffffff,
  "dark": #001738,
);

.carousel-item {
  height: 350px !important;
}

.header-text {
  width: 60vw;
}

.header-content {
  text-shadow: #001738 0px 0px 10px 0px;
  width: 50vw;
}

.api-section {
  background-image: url("/assets//API-section-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //   opacity: 0.4;
  background-attachment: scroll;
}

.nav-link:hover {
  background-color: $primary;
  color: $light !important;
}

.hero {
  background-image: url("/assets/Art-The-Golden-temple-Punjab-India-city-river-night-lights-man-people-moon-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

@media (max-width: 768px) {
  #navbarScrollingDropdown {
    font-weight: bold !important;
  }
  #navbarScroll {
    background-color: $primary !important;
  }

  .nav-link {
    color: $light !important;
  }
  .dropdown-menu.show {
    text-align: center !important;
  }
}

@media (min-width: 769px) {
  #navbarScrollingDropdown {
    color: $dark !important;
    font-weight: bold !important;
  }
  .dropdown-menu.show {
    display: block;
    background: white !important;
    font-family: "'Oswald', sans-serif" !important;

  }
  .nav-link {
    color: $dark !important;
    font-family: "'Oswald', sans-serif" !important;
  }
}

.dropdown-item {
  line-height: 1.5 !important;
  padding: 10px 15px !important;
  font-size: 14px !important;
}

#navbarScrollingDropdown:hover {
  background-color: $primary;
  color: $light !important;
}

@media (min-width: 768px) {
  .hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media (max-wid: 768px) {
  .navbar-collapse {
    background-color: $primary !important;
    color: $light !important;
  }
}
.dropdown-menu {
  background: $light !important;
}

.carousel-caption::before {
  content: url("/assets/quote.svg");
  // background-color: #001738
}

tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

img[alt="IMAGE ALT TEXT HERE"] {
  width: 70% !important;
}

.container1 {
  position: relative;
  width: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: fit-content;
  padding: 2px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
}

.container1:hover .image {
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}

.middlemiddle {
  background: #ff8707;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 15px;

  padding: 60px 20px;
}

// p > a > img {
//   width: 100% !important;
// }
@import "~bootstrap/scss/bootstrap.scss";
