@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
body {
  font-family: "Mulish", sans-serif;
  font-weight: 350;
}

$primary: #ff8707;
$danger: #ff4136;
$success: #2ecc40;
$warning: #ff851b;
$light: #f4f4f4;
$dark: #111;
$secondary: #111;
$theme-colors: (
  "primary": #ff8707,
  "secondary": #833bec,
  "success": #1ce1ac,
  "info": #ff7d50,
  "warning": #ffbe0b,
  "danger": #ff007f,
  "light": #ffffff,
  "dark": #001738,
);

.carousel-item {
  height: fit-content;
  top: 20%;
}
.header-text {
  width: 60vw;
}
.header-content {
  text-shadow: #001738 0px 0px 10px 0px;
  width: 50vw;
}
.api-section {
  background-image: url("/assets//API-section-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //   opacity: 0.4;
  background-attachment: scroll;
}
.nav-link:hover {
  background-color: #ff8707;
}
.hero {
  background-image: url("/assets/Art-The-Golden-temple-Punjab-India-city-river-night-lights-man-people-moon-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
@media (min-width: 768px) {
  .hero-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }
}
.carousel-caption::before {
  content: url("/assets/quote.svg");
  // background-color: #001738
}
.partner-img {
  // padding: 20px;
  border: 2px solid #1ce1ac;
}
.partner-box:hover {
  .partner-link {
    display: block;
  }
}
.partner-text {
  position: relative;
  top: -10vh;
  width: 100%;
}
.partner-link {
  display: none;
  position: relative;
  background: #ff8707;
  color: white;
  top: -40vh;
  font-weight: 600;
  padding: 14px;
  font-size: larger;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  width: 100% !important;
  border: 1px solid #ddd !important;
}

th,
td {
  text-align: left !important;
  padding: 8px !important;
}

tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

// p > a > img {
//   width: 100% !important;
// }
@import "~bootstrap/scss/bootstrap.scss";
